
@{
    ViewBag.Title = "SixJuice - " + ViewBag.RoomCode + " - " + ViewBag.PlayerName;
    Layout = "~/Views/Shared/_SJLayout.cshtml";
}
<div class="queenOverlay overlay" style="display:none">
    <div class="overlayContent" style="display:inline-block">
        <span id="sweeper" class="medText spiv">Player1 is playing a Queen</span>
        <span id="count" class="medText spiv">5...</span>
        <div class="vert30"></div>
        <div id="nojack" class="queenButtons vert50">
            <span class="sidepad"></span>
            <button class="queenButton sidepadsandwich smallText" id="OK">OK</button>
        </div>
        <div id="jack" class="queenButtons vert50">
            <span class="sidepad"></span>
            <button class="queenButton sidepadsandwich smallText" id="UseJack">Use Jack of Clubs</button>
            <span class="sidepad"></span>
            <button class="queenButton sidepadsandwich smallText" id="HoldJack">Hold Jack Of Clubs</button>
        </div>
    </div>
</div>
<div class="kingOverlay overlay" style="display:none">
    <div id="kingContent" class="overlayContent" style="display:inline-block">
        <div class="kClose">X</div>
        <div class="medText">Kings</div>
        <div class="kLabel">From your hand:</div>
        <div id="kHand" class="boardrow">
            <span id="kHandCards" class="cardBar kCardBar"></span>
            <button id="kHandUse" class="kButton">Use</button>
        </div>
        <div class="kLabel">From the table:</div>
        <div id="kTable" class="boardrow">
            <span id="kTableCards" class="cardBar kCardBar"></span>
            <button id="kTableUse" class="kButton">Use</button>
        </div>
        <div class="kLabel">From another player:</div>
        <div id="kPlayer" class="boardrow">
            <span id="kPlayerCards" class="cardBar kCardBar"></span>
            <div id="kPlayerMenu" class="kPlayerChooser" style="display:none">
                @*<button class="pButton" data-name="Player1">Player1</button>
                <button class="pButton">Player2</button>
                <button class="pButton">Reginald McExtralonglastname</button>*@
            </div>
            <button id="kPlayerDrop" class="kButton">Ask...</button>
        </div>
    </div>
</div>
<div class="notYourTurn overlay"></div>
<div id="wait" class="waitOverlay overlay">
    <span class="overlayContent">
        <span class="medText spiv">Waiting for players:</span>
        <span id="waitList"></span>

    </span>
</div>
<div class="actionButtonOverlay">
    <div class="actionButtons">
        <button class="actionButton smallText" id="Take" style="display: none">Take</button>
        <button class="actionButton smallText" id="Use" style="display: none">Use</button>
        <button class="actionButton smallText" id="UseforKing" style="display: none">Use for King</button>
        <button class="actionButton smallText" id="Kings" style="display: none">Kings</button>
        <button class="actionButton smallText" id="Discard" style="display: none; float: right">Discard</button>
        <button class="actionButton smallText" id="EndTurn" style="display: none; float: right">End Turn</button>
    </div>
</div>
<div class="gameboard">
    <div id="top" class="boardrow">
        <span id="drawpile" class="deck"></span>
        <span id="table" class="cardBar"> </span>
    </div>
    <div id="players">
        <div id="ThisPlayer" class="boardrow">
            <span id="pointCardPile" class="deck"></span>
            <span id="normalCardPile" class="deck normalCardPile"></span>
            <span id="hand" class="cardBar hand"></span>
            <span id="ThisPlayerKings" class="kings">

            </span>
        </div>
    </div>
    <div id="buttonSpace"></div>
</div>

<script src="~/Scripts/game.js"></script>
<script type="text/javascript">
    getRoomCode = function () {
        return "@ViewBag.RoomCode";
    }
    getPlayerName = function () {
        return "@ViewBag.PlayerName";
    }
</script>

