
@{
    ViewBag.Title = "SixJuice - " + ViewBag.RoomCode + " - " + ViewBag.PlayerName;
    Layout = "~/Views/Shared/_SJLayout.cshtml";
}
<div class="queenOverlay overlay" style="display:none">
    <div class="overlayContent" style="display:inline-block">
        <div id="sweeper" class="smallText">Player1 is playing a Queen</div>
        <div id="count" class="medText">15</div>
        <div id="nojack" class="queenButtons">
            <button class="queenButton smallText" id="OK">OK</button>
        </div>
        <div id="jack" class="queenButtons">
            <div>
                <button class="queenButton smallText" id="UseJack">Use Jack of Clubs</button>
            </div>
            <div>
                <button class="queenButton smallText" id="HoldJack">Hold Jack Of Clubs</button>
            </div>
        </div>
    </div>
</div>
<div class="kingOverlay overlay" style="display:none">
    <div id="kingContent" class="overlayContent" style="display:inline-block">
        <div class="kClose">X</div>
        <div class="medText">Kings</div>
        <div class="kLabel">From your hand:</div>
        <div id="kHand" class="boardrow">
            <span id="kHandCards" class="cardBar kCardBar"></span>
            <button id="kHandUse" class="kButton">Use</button>
        </div>
        <div class="kLabel">From the table:</div>
        <div id="kTable" class="boardrow">
            <span id="kTableCards" class="cardBar kCardBar"></span>
            <button id="kTableUse" class="kButton">Use</button>
        </div>
        <div class="kLabel">From another player:</div>
        <div id="kPlayer" class="boardrow">
            <span id="kPlayerCards" class="cardBar kCardBar"></span>
            <div id="kPlayerMenu" class="kPlayerChooser" style="display:none"></div>
            <button id="kPlayerDrop" class="kButton">Ask...</button>
        </div>
    </div>
</div>
<div class="notYourTurn overlay">
    <div id="MrFlibbleSays" class="gameOver bigText" style="display:none">Game Over</div>
    <div class="winner" style="display:none">
        <div class="winnerHeadline medText">PlayerX wins</div>
        <div class="goRowH">
            <span class="smallText goReadout goCol1H" id="goName"><span style="font-style:oblique">Name</span></span>
            <span class="smallText goReadout goCol2H" id="goNrml" style="font-style:oblique; text-align:center">Normal Cards</span>
            <span class="smallText goReadout goCol3H" id="goPnts"><span style="font-style:oblique">Point Cards</span></span>
            <span class="smallText goReadout goCol4H" id="goScre"><span style="font-style:oblique">Score</span></span>
        </div>
    </div>
</div>
<div id="wait" class="waitOverlay overlay">
    <div class="overlayContent">
        <div class="medText">Waiting for players:</div>
        <span id="waitList"></span>

    </div>
</div>
<div class="actionButtonOverlay">
    <div id="josPlayerMenu" class="kPlayerChooser" style="display:none"></div>
    <div class="textReadout"><span class="smallText" id="textReadoutContents"></span></div>
    <div class="actionButtons">
        <button class="actionButton smallText" id="Take" style="display: none">Take</button>
        <button class="actionButton smallText" id="Use" style="display: none">Use</button>
        <button class="actionButton smallText" id="UseforKing" style="display: none">Use for King</button>
        <button class="actionButton smallText" id="Kings" style="display: none">Kings</button>
        <button class="actionButton smallText" id="Discard" style="display: none; float: right">Discard</button>
        <button class="actionButton smallText" id="EndTurn" style="display: none; float: right">End Turn</button>
    </div>
</div>
<div class="gameboard">
    <div id="top" class="boardrow">
        <span id="drawpile" class="deck"></span>
        <span id="table" class="cardBar"> </span>
    </div>
    <div id="players">
        <div id="ThisPlayer" class="boardrow">
            <span id="normalCardPile" class="deck"></span>
            <span id="pointCardPile" class="deck pointCardPile"></span>
            <span id="hand" class="cardBar hand"></span>
            <span id="ThisPlayerKings" class="kings">

            </span>
        </div>
    </div>
    <div id="buttonSpace"></div>
</div>

<script src="~/Scripts/game.js"></script>
<script type="text/javascript">
    getRoomCode = function () {
        return "@ViewBag.RoomCode";
    }
    getPlayerName = function () {
        return "@ViewBag.PlayerName";
    }
</script>

