@{
	ViewBag.Title = "SixJuice";
	Layout = "~/Views/Shared/_SJLayout.cshtml";
}

<div id="startPane" class="wide tall">
    <div id="SixJuiceBox"><span id="SJBtext">SixJuice</span></div>
    <div id="EnterRCBox">Enter Room Code:</div>
    <input id="roomCodeValue" type="text" value="@ViewBag.InitRoomCode" />
    <button id="joinButton" disabled="">JOIN</button>
    <button id="newButton">NEW GAME</button>
    <span id="startMessage"></span>
    
</div>
<div id="roomPane" class="wide tall hiddenPane">
    <div id="roomCodeBox">Room code:</div>
    <div id="roomRoomCode"></div>
    <select id="decks">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <div id="decksText">Decks</div>
    <div id="nameText"><span id="nameTextText">Enter Your Name:</span></div>
    <input type="text" id="name" />
    <button id="setName">OK</button>
    <div id="roomPlayerList">
        
    </div>
    <button id="go">READY</button>
    <div id="roomMessage"></div>
</div>
<div id="rejoinPane" class="wide tall hiddenPane">
    <div id="rejoinCodeBox">Room code:</div>
    <div id="rejoinRoomCode"></div>
    <div id="rejoinPlayerList">
        
    </div>
    <div id="rejoinMessage"></div>
</div>

<script src="~/Scripts/home.js"></script>
<script type="text/javascript">
    $(function () {
        if ("@ViewBag.InitMessage" != "") {
            message("@ViewBag.InitMessage", true);
        }
    });
</script>

