@{
    ViewBag.Title = "Welcome";
}

<div class="row col-xs-12 titleBox">
    SixJuice
</div>

<div class="buttonContainer">
    <div class="row">
        <span class="col-xs-2"></span>
        <button class="col-xs-8" onclick="host()">HOST</button>
    </div>
    <div class="row">
        <span class="col-xs-2"></span>
        <button class="col-xs-8" onclick="join()">JOIN</button>
    </div>
</div>

<script>
    function host() {
        window.location.href = '../Host';
    }
    function join() {
        window.location.href = '../Join';
    }
</script>