/* Site-wide */

body {
    overflow: hidden;
    margin: 0px;
}

.SJBody {
    position:absolute;
    background-color: #f8f8f8;
}

button {
    background-color: #ece3ff;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.hiddenPane {
    display: none;
}

.overlayContent {
    background-color: #F0F0F0;
    position: absolute;
    border-radius: 2px;
    padding: 5px;
}

.errorText {
    color: #aa0000;
}

/* Top-level overlays/Z order */

.actionButtonOverlay {
    position: absolute;
    height: 98%;
    z-index: 100;
    pointer-events: none;
}

.notYourTurn {
    position: absolute;
    z-index: 110;
    pointer-events: none;
    background-color: rgba(150, 140, 150, 0.4);
}

.queenOverlay {
    position: absolute;
    z-index: 115;
    background-color: rgba(10, 0, 10, 0.09);
}

.waitOverlay {
    position:absolute;
    background-color:rgba(0, 0, 0, 0.3);
    z-index: 120;
}

.kingOverlay {
    position: absolute;
    z-index: 130;
    background-color: rgba(10, 0, 10, 0.09);
}

/* Menu button */

.SJNav {
    position:absolute;
    width: 98%;
    margin-top: 0.5em;
    z-index: 200;
    pointer-events: none;
}

.SJNavButton {
    float: right;
    height: 3.5em;
    width: 3.5em;
    background-color: #808080;
    border: 1px solid #000000;
    padding: 4px;
    border-radius: 10%;
    pointer-events: visible;
    z-index: 200;
}

.SJNavButtonHighlight {
    background-color: #A0A0A0;
}

.SJIcon-bar {
    display: block;
    height: 5px;
    margin: 0.25em;
    background-color: #79ddb2;
}

.SJIcon-barHighlight {
    background-color: #97ffdf;
}

/* Menu */

.SJMenu {
    position:absolute;
    width: 100%;
    height: 0%;
    z-index: 150;
    background-color:rgba(200, 195, 200, 0.7);
    transition: 0.3s;
    overflow-y:hidden;
}

.para {
    overflow-y: auto;
}

.para > * {
    position: relative;
}

#menuTitle {
    position: absolute;
}

.menuPane {
    position: absolute;
}

.menuPane > * {
    position: absolute;
}

.excol {
    cursor: pointer;
}

.wide {
    width: 100%;
}

.tall {
    height: 100%;
}

/* Kings overlay */

#kingContent {
    padding: 5px;
    overflow-y:auto;
    overflow-x:hidden;
}

.kLabel {
    margin: 10px;
}

.kPlayerChooser {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    background-color: #A0A0A0;
    z-index: 1;
    pointer-events: visible;
	overflow-y: auto;
}

.kClose {
    float: right;
    background-color: #B07070;
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px;
}

.kingPlayerChooserOverlay {
    pointer-events: none;
    position: absolute;
}

.kButton {
    position: absolute;
}

.pButton {
    position: relative;
    overflow: hidden;
}

/* Action button pane */

.actionButtons {
    width: 98%;
    position: absolute;
    bottom: 0;
}

.actionButton {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    pointer-events: visible;
}

.textReadout {
    width: 98%;
    padding: 5px;
    position: absolute;
    overflow: hidden;
}

#textReadoutContents {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* Queen overlay */

.queenButtons {
    position:absolute;
    padding: 0px;
}

#count {
    transform: translateY(50%);
    text-align: center;
}

.queenButton {
    position: absolute;
    height: 2.5em;
    margin: 0px;
    border-color: #666666;
    border-width: 1px;
    border-radius: 3px;
}

/* Game board */

.gameboard {
    position: relative;
    overflow: auto;
}

.deck {
    position: absolute;
}

.cardBar {
    position: absolute;
}

.playerLabel {
    position: absolute;
}

.deckCount {
    position: absolute;
    text-align:center;
}

.king {
    position: absolute;
}

.card {
    position: absolute;
    border: 1px solid #666666;
    border-radius: 3px;
    top: 0px;
}

.emptyCard {
    position: absolute;
    border: 1px dotted #999999;
    border-radius: 3px;
    left: 15px;
    top: 15px;
}

.cardSelected {
    top: -8px;
}

.boardrow {
    position: relative;
}

/* Game Over */

.gameOver {
    position: absolute;
    text-align: center;
}

.winner {
    position: absolute;
}
.winner div {
    text-align: center;
}

.goReadout {
    position: absolute;
    text-align: left;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    border: 1px solid rgba(121, 221, 178, 0.5);
}

.goReadout span {
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.goReadoutData {
    position: absolute;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid rgba(121, 221, 178, 0.5);
    border-radius: 3px;
}

/* Start screen */

#startPane > * {
    position: absolute;
}

#SixJuiceBox {
    text-align: center;
}

#roomCodeValue {
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 16px;
}

/* Room screen */

#roomPane > * {
    position: absolute;
}

#nameTextText {
    position: absolute;
    bottom: 0px;
}

#setName {
    overflow: hidden;
}

#roomPlayerList {
    overflow-y: scroll;
    overflow-x: hidden;
}

#roomPlayerList > div {
    clear: both;
}

.readyMarkerN {
    float: right;
    color: #AA0000;
}

.readyMarkerY {
    float: right;
    color: #00AA00;
}

.rpl_outer {
    border-bottom: 1px solid lightgrey;
}

.rpl_inner {
    background-color: #f8f8f8;
}

/* Rejoin screen */

#rejoinPane > * {
    position: absolute;
}

#rejoinPlayerList {
    overflow-y: scroll;
    overflow-x: hidden;
}

#rejoinPlayerList > * {
    position: absolute;
}