body {
    overflow: hidden;
    margin: 0px;
}

button {
    background-color: #ece3ff;
    border: 1px solid black;
    border-radius: 3px;
}

.actionButtonOverlay {
    position: absolute;
    height: 98%;
    z-index: 100;
    pointer-events: none;
}

.notYourTurn {
    position: absolute;
    z-index: 110;
    pointer-events: none;
    background-color: rgba(150, 140, 150, 0.4);
}

.waitOverlay {
    position:absolute;
    background-color:rgba(0, 0, 0, 0.3);
    z-index: 120;
}

.queenOverlay {
    position: absolute;
    z-index: 115;
    background-color: rgba(10, 0, 10, 0.09);
}

.kingOverlay {
    position: absolute;
    z-index: 130;
    background-color: rgba(10, 0, 10, 0.09);
}

.SJMenu {
    position:absolute;
    width: 100%;
    height: 0%;
    z-index: 150;
    background-color:rgba(200, 195, 200, 0.7);
    transition: 0.3s;
    overflow-y:hidden;
}

.SJNav {
    position:absolute;
    width: 98%;
    margin-top: 0.5em;
    z-index: 200;
    pointer-events: none;
}

.SJNavButton {
    float: right;
    height: 3.5em;
    width: 3.5em;
    background-color: #808080;
    border: 1px solid #000000;
    padding: 4px;
    border-radius: 10%;
    pointer-events: visible;
    z-index: 200;
}

#kingContent {
    padding: 5px;
    overflow-y:auto;
    overflow-x:hidden;
}

.kLabel {
    margin: 10px;
}

.kPlayerChooser {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    background-color: #A0A0A0;
    z-index: 1;
    pointer-events: visible;
}

.kClose {
    float: right;
    background-color: #B07070;
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px;
}

.actionButtons {
    width: 98%;
    position: absolute;
    bottom: 0;
}

.textReadout {
    width: 98%;
    padding: 5px;
    position: absolute;
    overflow: hidden;
}

#textReadoutContents {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.SJNavButtonHighlight {
    background-color: #A0A0A0;
}

.SJIcon-bar {
    display: block;
    height: 5px;
    margin: 0.25em;
    background-color: #79ddb2;
}

.SJIcon-barHighlight {
    background-color: #97ffdf;
}

.queenButtons {
    position:absolute;
    padding: 0px;
}

.qbSidePad {
    display: inline-block;
}

.qbMiddlePad {
    height: 10%;
}

#sweeper {
    text-align: center;
}

#count {
    text-align: center;
}

.menuTitle {
    padding: 10px;
}

.menuItem {
    height: 2em;
    margin: 5px;
    background-color: #ece3ff;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}

.queenButton {
    height: 2.5em;
    margin: 0px;
    border-color: #666666;
    border-width: 1px;
    border-radius: 3px;
}

.SJBody {
    position:absolute;
    background-color: #f8f8f8;
}

.overlayContent {
    background-color: #B0B0B0;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
}

.spiv {
    display:block;
}

.wide {
    width: 100%;
}

.tall {
    height: 100%;
}

.vert5 {
    height: 5%;
}

.vert10 {
    height: 10%;
}

.vert20 {
    height: 20%;
}

.vert25 {
    height: 25%;
}

.vert30 {
    height: 30%;
}

.vert50 {
    height: 50%;
}

.vert60 {
    height: 60%;
}

.vert80 {
    height: 80%;
}

.sidepad {
    width: 15%;
    display: inline-block;
}

.sidepadsandwich {
    width: 70%;
}

.titleBox {
    text-align: center;
    min-height: 90px;
}

.buttonContainer div {
    display: block;
}

.xsmlText {
    font-size: 0.9em;
    font-weight: 300;
}

.smallText {
    font-size: 1.2em;
    font-weight: 400;
}

.medText {
    font-size: 1.8em;
    font-weight:600;
}

.bigText {
    font-size: 3.6em;
    font-weight: 800;
}

.errorText {
    color: #aa0000;
}

.playerLabel {
    position: absolute;
}

.gameOver {
    position: absolute;
    text-align: center;
}

.winner {
    position: absolute;
    /*text-align: center;*/
}
.winner div {
    text-align: center;
}

.goReadout {
    position: absolute;
    text-align: left;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    border: 1px solid rgba(121, 221, 178, 0.5);
}

/*.goRow {
    background-color: #999999;
}

.goRowH {
    background-color: #999999;
}*/

.goReadout span {
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.goReadoutData {
    position: absolute;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid rgba(121, 221, 178, 0.5);
    border-radius: 3px;
}

.deckCount {
    position: absolute;
    text-align:center;
}

.rejoinButton {
    height: 2em;
    margin-top: 7px;
    margin-bottom: 7px;
}

.shownPane {
    height: 100%;
    width: 100%;
}

.hiddenPane {
    display: none;
}

.gameboard {
    position: relative;
    overflow: auto;
}

.deck {
    /*background-color: #666666;*/
    position: absolute;
}

.cardBar {
    position: absolute;
}

.king {
    position: absolute;
}

.card {
    position: absolute;
    border: 1px solid #666666;
    border-radius: 3px;
    top: 0px;
}

.emptyCard {
    position: absolute;
    border: 1px dotted #999999;
    border-radius: 3px;
    left: 15px;
    top: 15px;
}

.cardSelected {
    top: -8px;
    /*box-shadow: inset 0 0 0 1000px rgba(155,0,255,.12);*/
}

.boardrow {
    position: relative;
}

.actionButton {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    pointer-events: visible;
}

.kButton {
    position: absolute;
}

.pButton {
    position: relative;
    overflow: hidden;
}